<!DOCTYPE html>
<html>
<head>
    <title>Image Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Upload an 'Dog' or 'Cat' Image </h1>
        </div>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>
